ul, li {
	list-style: none;
}

.filter {
	position: fixed;
	left: 0;
	top: 0;
	background: #fff;
	width: 20%;
	height: 100%;
	overflow: auto;
}
#map {
	position: absolute;
	top: 0;
	right: 0;
	width: 80%;
	height: 100%;
}