@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

body {
	font-family: 'Lato', sans-serif;
	color: #333;
}

ul, li {
	list-style: none;
}

header {
	position: relative;
	text-align: center;
	padding: 12px 0;
	background: #b71c1c;
	border-top: 5px solid #7f0000;
}

header h1 {
	color: #fff;
	margin: 0;
	letter-spacing: 4px;
}

header h1 svg {
	margin-right: 10px;
}

.toggle-filter {
	padding: 0;
    border: none;
    outline: none;
    background: transparent;
    color: #ffcdd2;
    font-size: 30px;
    position: absolute;
    left: 25px;
    top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.filter {
	position: fixed;
	left: -280px;
	bottom: 0;
	background: #fff;
	width: 280px;
	height: calc(100% - 68px);
	overflow: auto;
	padding: 20px;
	background: #f05545;
	transition: left .3s ease-in-out;
}

.filter.active {
	left: 0;
}

.filter input {
	position: relative;
	display: block;
	margin: 0 auto 20px;
	width: 100%;
	text-align: center;
	background: #fff;
	color: #333;
	outline: none;
    line-height: 33px;
    padding: 0 8px;
	border-radius: 20px;
	border: 2px solid #e53935;
}

.filter ul {
	padding: 0;
	margin: 0 0 40px;
}

.filter ul > li {
	color: #fff;
	cursor: pointer;
	padding: 8px 0;
	line-height: normal;
	border-bottom: 1px solid #ffebee;
	transition: all .3s ease-in-out;
}

.filter ul > li:hover {
	color: #7f0000;
	border-color: #7f0000;
}

.filter::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffebee;
}

.filter::-webkit-scrollbar {
	width: 6px;
    background-color: #ffebee;
}

.filter::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background-color: #b71c1c;
}


.foursquare {
	position: fixed;
	bottom: 12px;
    left: 132px;
}

.foursquare a {
	color: #7f0000;
    background: #ffebee;
	display: inline-block;
	text-decoration: none;
    border-radius: 20px;
	padding: 6px 12px;
	opacity: 0.8;
	box-shadow: 0 8px 6px -6px rgba(0,0,0,.8);
	transition: .3s;
}

.foursquare a:hover {
	opacity: 1;
	box-shadow: 0 8px 6px -6px rgba(0,0,0,1);
}

#map {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: calc(100% - 68px);
	transition: all .3s ease-in-out;
}

.filter.active + #map {
	width: calc(100% - 280px);
}

.info-window {
	width: 260px;
}

.info-window p {
	display: flex;
}

.info-window strong {
	margin-right: 5px;
}

.flex-container {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading,
.error {
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #b71c1c;
    z-index: 10;
    color: #fff;
}

.loading svg {
	font-size: 42px;
	animation: spinner 2s infinite;
}

.error svg {
	font-size: 42px;
}

.loading p ,
.error p {
	font-weight: bold;
    letter-spacing: 2px;
    font-size: 28px;
}

@keyframes spinner {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}

@media screen and (max-width: 767px) {
	header {
		padding: 20px 50px;
	}

	header h1 {
		font-size: 20px;
		letter-spacing: 2px;
	}

	header h1 svg {
		display: none !important;
	}

	.toggle-filter {
		font-size: 26px;
	}

	.filter {
		width: 260px;
	}

	.filter ul > li {
		font-size: 14px;
	}

	.filter.active + #map {
		width: calc(100% - 260px);
	}

	.foursquare {
		bottom: 14px;
		left: 112px;
	}
}